*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    background-color: black;
}
@font-face {
    font-family: 'Inter-Regular';
    src: url(Inter-Regular.ttf);
}
@font-face {
    font-family: 'Inter-Bold';
    src: url(Inter-Bold.ttf);
}
@font-face {
    font-family: 'Inter-SemiBold';
    src: url(Inter-SemiBold.ttf);
}
.background{
    width: 20em;
    height: 40em;
    margin: auto;
    background-color: rgb(41, 40, 40);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.background .style-image img{
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    padding-top: 30px;
}
.background .style-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.style-nameTitle{
    line-height: 8px;
    padding-left: 5.5em;
    padding-top: 20px;
    font-family: 'Inter-Regular';
}
.style-nameTitle h2{
    color: white;
    font-size: 20px;
}
.style-nameTitle p{
    color: rgb(209, 225, 83);
    font-size: 11px;
    font-weight: bold;
    padding: 5px;
    font-family: 'Inter-Bold';
}
.only-p p{
    padding-left: 6em;
    padding-top: 10px;
    color: white;
    font-size: 11px;
    font-family: 'Inter-Regular';
}
.border{
    background-color: rgba(131, 126, 126, .17);
    border-radius: 5px;
    margin: 17px;
    padding: 10px;
    text-align: center;
    font-family: 'Inter-SemiBold';
}
.border a{
    text-decoration: none;
    color: white;
}
.border a:hover{
    background-color: rgba(131, 126, 126, .17);
    text-decoration: underline;
}